# هذاالملف يسمح لنا بتحديد قائمة الملفات التي سيتم انشاؤها من سياق ال docker
#هذا الملف هو dockerignore. (يُستخدم مثل .gitignore)، ووظيفته تحديد الملفات والمجلدات التي يجب استبعادها عند بناء الـ Docker image.
#الفكرة: كلما كانت الملفات أقل داخل الـ image → كان الحجم أصغر → البناء أسرع → الـ container أخف.
#
# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/


#   .git → يستبعد مجلد Git كاملًا (history, branches…) لأنه غير مطلوب داخل الـ Docker.
#.gitignore → لا حاجة له داخل الـ image.
#مجلد داخلي خاص بإعدادات Docker لديك.,,,,,,,لا تحتاجه داخل الـ image—هو فقط للاستخدام خارجياً.
#pycache مجلدات ينشئها Python تلقائياً لتحسين سرعة التشغيل.
#وجودها داخل الـ Docker image غير ضروري، بل يُعتبر “ضوضاء”.

#السطور المتكررة مثل:

#app/*/__pycache__/

#app/*/*/__pycache__/

#هي لضمان استبعاد كل مجلدات pycache حتى لو كانت في أعماق مختلفة داخل app/.

#.env/ → هذا مجلد أو ملف يحتوي على المتغيرات السرية (SECRET_KEY، DB_PASSWORD…)
#لا يجب أبداً إضافته للـ Docker image لحمايتها.

#.venv/ و venv/ → البيئة الافتراضية الخاصة بالبايثون
#داخل Docker أنت تستخدم بيئة Python نظيفة، فلا تحتاج لرفع الـ virtualenv الخاص بجهازك.

#باختصار
#هذا الملف يمنع إضافة:
#تاريخ Git
#الملفات المؤقتة للبايثون
#المتغيرات السرية
#البيئة الافتراضية
#ملفات Docker الداخلية
#وذلك للحصول على Docker image: صغيرة الحجم,أسرع في البناء,أنظف,وآمنة






